header {
  margin-bottom: 50px;
  text-align: center;
}

header input {
  width: 300px;
  padding: 10px;
  color: var(--primary);
  background-color: transparent;
  border: 3px solid var(--primary);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  caret-color: var(--primary);
}

header input::placeholder {
  color: var(--primary);
  font-weight: bold;
  opacity: 0.5;
}

header input:focus {
  width: 250px;
  outline-style: none;
}

header h2 {
  color: var(--primary);
  font-size: 25px;
  font-style: italic;
}